[application]
out_dir = "dist"

[web.app]
# HTML title tag content
title = "maqr-web-ext"
base_path = "maqr-web-ext"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
